body{
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;
    margin-bottom:0%;
    background-color:rgb(240,240,240);
    font-family: "font";
}

@font-face {
    font-family: "font";
    src: url("../fonts/Raleway-Regular.ttf");
}

#header{
    height:185px;
    width:100%;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}
#content:not(.choix-membre){
   width:1115px;
    padding-top:15px;
    padding-bottom:30px;
    margin:auto;
    background-color:white;
    min-height: 500px;
}
#content.choix-membre{
   width:1115px;
    padding-top:15px;
    padding-bottom:30px;
    margin:auto;
    background-color:white;
    position: absolute;
    height: auto;
}


    /******************************************************************************************************************/
    /*                                              ACCUEIL                                                           */
    /******************************************************************************************************************/


    #content.accueil > img {
        width:100%;
    }
    #content.accueil .ban-dial{
        width:100%;
        margin: 20px auto 20px;
        background-color:#002267;
        min-height:50px;
        overflow: hidden;
    }
        #content.accueil .ban-dial .part{
            width: 50%;
            float: left;
        }
            #content.accueil .ban-dial .part .text{
                text-align: center;
                padding-top:10px;
                color:white;
                font-size:180%;
                height:auto;
                margin:0;
            }


                #content.accueil .ban-dial .part .text img{
                    height:40px;
                }
                #content.accueil .ban-dial .part .exemple{
                    background-color:rgba(255,255,255,0.7);
                    padding:15px;
                }
                    #content.accueil .ban-dial .part .guillemet_on{
                        height:15px;
                        background-image: url("../img/compte/guillemet_on.png");
                        background-repeat:no-repeat;
                        background-size: auto 100%;
                        background-position: 0px center;
                        margin-bottom: -10px;
                    }
                    #content.accueil .ban-dial .part .paroles{
                        width:80%;
                        margin:auto;
                        color:black;
                        font-size:20px;
                    }
                    #content.accueil .ban-dial .part .guillemet_off{
                        margin-top: -10px;
                        height:15px;
                        background-image: url("../img/compte/guillemet_off.png");
                        background-repeat:no-repeat;
                        background-size: auto 100%;
                        background-position: right center;
                    }
            #content.accueil .ban-dial .part .bouton{
                text-align: center;
                padding:10px;
                background-color:#f8c80d;
                color:black;
                text-transform: uppercase;
                display: block;
                border:0px solid transparent;
                width:100%;
                cursor: pointer;
                margin-top:1px;
            }
            #content.accueil .ban-dial .part.photo{
                height:435px;
                background-image: url('../img/accueil/photo.jpg');
                background-repeat:no-repeat;
                background-position: center;
            }



    /******************************************************************************************************************/
    /*                                              CHOIX MEMBRE                                                      */
    /******************************************************************************************************************/
    #content.choix-membre{

    }
        #content.choix-membre .filters{

        }
            #content.choix-membre .filters .part{
                width:50%;
                float: left;
                text-align: center;
            }
                #content.choix-membre .filters .part .title{
                    font-size: 190%;
                    margin-top: 15px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                #content.choix-membre .filters .part select{
                    width: 50%;
                    background-color:#dedede ;
                    padding:5px;
                    font-family: "font";
                    border:none;
                    border-radius: 4px;
                }
        #content.choix-membre .people{
            padding-top:30px;
            padding-bottom: 50px;
            user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            -webkit-user-select: none;
        }
            #content.choix-membre .people .part{
                width:50%;
                float: left;
                padding-top:25px;
            }
                #content.choix-membre .people .part .in{
                    width: 90%;
                    margin:auto;
                    background-color:#dadada;
                    padding:5px;
                    overflow: hidden;
                }
                    #content.choix-membre .people .part .in .top{
                        overflow: hidden;
                    }
                        #content.choix-membre .people .part .in .photo{
                            width:30%;
                            float:left;
                            text-align: center;
                        }
                        #content.choix-membre .people .part .in .nom{
                            width: 50%;
                            float:left;
                            font-size:30px;
                        }
                        #content.choix-membre .people .part .in .ville{
                            width: 20%;
                            float:left;
                            text-transform: uppercase;
                        }
                    #content.choix-membre .people .part .in .villes{
                        background-image: url("../img/choix_membre/map.png");
                        background-repeat: no-repeat;
                        background-size: auto 90%;
                        background-position: 5px center;
                        float: left;
                        padding:15px 0;
                        padding-left:60px;
                    }
                        #content.choix-membre .people .part .in .villes span{
                            background-color:white;
                            padding-left: 15px;
                            padding-right: 5px;
                            border-radius: 3px;
                            border-bottom-left-radius: 10px;
                            border-top-left-radius: 10px;
                            background-image: url("../img/choix_membre/icone_villes.png");
                            background-repeat: no-repeat;
                            background-position: 5px center;
                            border:1px solid silver;
                        }
                #content.choix-membre .people .part .lien{
                    width:90%;
                    margin:auto;
                    text-align: center;
                    background-color:#002267;
                    display: block;
                    padding:5px;
                    color:white;
                    text-transform: uppercase;
                    text-decoration: none;
                    padding-top:10px;
                    padding-bottom:10px;
                }

    /******************************************************************************************************************/
    /*                                              CONNEXION                                                         */
    /******************************************************************************************************************/

    form#content{
        background-color: transparent;
    }
    #content.connexion .formulaire{
        width:500px;
        margin:15px auto 0;
        background-color:#002267;
        text-align: center;
        padding:30px;
    }

    #content.connexion .formulaire.container-input{
        padding-top:10px;
        padding-bottom:10px;
    }
        #content.connexion .formulaire .container-input input{
            width:80%;
            background-color:silver;
            border:1px solid gray;
            font-size:25px;
            text-indent: 38px;
            font-family: "font";
            padding: 3px 0px;
            background-repeat:no-repeat;
            background-position: 4px center;
            margin-bottom: 20px;
        }
            #content.connexion .formulaire .container-input input.pseudo{
                background-image: url("../img/accueil/pseudo.png");
            }
            #content.connexion .formulaire .container-input input.email{
                background-image: url("../img/accueil/email.png");
            }
            #content.connexion .formulaire .container-input input.password{
                background-image: url("../img/accueil/password.png");
            }
        #content.connexion .formulaire .checkbox{
            color:#fff;
        }
        #content.connexion .formulaire .bouton{
            text-align: center;
            padding:10px;
            background-color:#ffe42b;
            color:black;
            text-transform: uppercase;
            display: block;
            border:0px solid transparent;
            cursor: pointer;
            margin-top:1px;
            width:100%;
        }

    /******************************************************************************************************************/
    /*                                              DISCUSSION                                                        */
    /******************************************************************************************************************/
    #content.discussion{

    }
        #content.discussion{

        }
            #content.discussion .part{
                float: left;
                width: 50%;
            }
                #content.discussion .part .discuss{
                    background-color:#f4f4f4;
                    padding:8px;
                    width:90%;
                    font-size:12px;
                    margin:auto;
                    border-right: 2px solid #002267;
                }
                    #content.discussion .part .discuss .container-input{
                        padding-bottom: 8px;
                    }
                        #content.discussion .part .discuss .container-input input[type=text]{
                            width:100%;
                            font-size:20px;
                            padding:5px;
                            padding-right:90px;
                            position: relative;
                            z-index: 9;
                        }
                        #content.discussion .part .discuss .container-input input[type=button]{
                            background-color: #f3c100;
                            color:black;
                            padding:7px;
                            float: right;
                            margin-bottom:-100%;
                            margin-top:-36px;
                            position: relative;
                            left:-3px;
                            z-index: 10;
                            text-transform: uppercase;
                            border:none;
                            cursor: pointer;
                        }
                            #content.discussion .part .discuss .container-input input[type=button]:hover{
                                background-color: #ffdc56;
                            }
                    #content.discussion .part .discuss .message{
                        margin-bottom: 15px;
                    }
                    #content.discussion .part .discuss .date{
                        color:gray;
                        font-size:13px;
                        width: 100%;
                        float: right;
                    }
                        #content.discussion .part .discuss .destinataire{
                            width:100%;
                            overflow: hidden;
                        }
                            #content.discussion .part .discuss .destinataire .container{
                                width:70%;
                                float: left;
                                background-color:#002267;
                                padding:5px;
                                color:white;
                            }
                            #content.discussion .part .discuss .destinataire .date{
                                text-align: left;
                            }
                        #content.discussion .part .discuss .receveur{
                            width:100%;
                            overflow: hidden;
                        }
                            #content.discussion .part .discuss .receveur .container{
                                width:70%;
                                float: right;
                                background-color:#dadada;
                                padding:5px;
                                color:black;
                            }
                            #content.discussion .part .discuss .receveur .date{
                                text-align: right;
                            }
            #content.discussion .part .container-hotel{
                width:95%;
                margin-bottom:20px;
            }
                #content.discussion .part .container-hotel .top{
                    overflow: hidden;
                    background-color: #dadada;
                }
                    #content.discussion .part .container-hotel .top .left{
                        float: left;
                        width: 30%;
                        height:130px;
                        background-image: url("../img/discussion/photo_hotel.jpg");
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    #content.discussion .part .container-hotel .top .right{
                        float: left;
                        width:70%;
                    }
                        #content.discussion .part .container-hotel .top .right .title{
                            background-color:#002267;
                            padding:5px;
                            color:white;
                            padding-left: 15px;
                            font-size:150%;
                        }
                        #content.discussion .part .container-hotel .top .right .details{
                            padding-left:45px;
                            background-image: url("../img/choix_membre/map.png");
                            background-repeat: no-repeat;
                            background-size: auto 70%;
                            background-position: 5px center;
                            padding-top:5px;
                            padding-bottom:5px;
                        }
            #content.discussion .part .container-destinaire{
                width:91%;
                padding:2%;
                background-color: #dadada;
                overflow: hidden;
            }
                #content.discussion .part .container-destinaire .top{
                    overflow: hidden;
                    width:100%;
                }
                    #content.discussion .part .container-destinaire .top .parts{
                        float: left;
                    }
                        #content.discussion .part .container-destinaire .top .parts.image{
                            width:20%
                        }
                        #content.discussion .part .container-destinaire .top .parts.nom{
                            width:60%;
                            font-size:30px;
                        }
                        #content.discussion .part .container-destinaire .top .parts.ville{
                            width:20%;
                            font-size:15px;
                            text-transform: uppercase;
                        }
            #content.discussion .part .container-destinaire .bottom{
                background-image: url("../img/choix_membre/map.png");
                background-repeat: no-repeat;
                background-size: 40px auto;
                background-position: 5px center;
                float: left;
                padding:15px 0;
                padding-left:60px;
                margin-top:15px;
                line-height: 25px;
            }
                #content.discussion .part .container-destinaire .bottom span{
                    background-color:white;
                    padding-left: 15px;
                    padding-right: 5px;
                    border-radius: 3px;
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;
                    background-image: url("../img/choix_membre/icone_villes.png");
                    background-repeat: no-repeat;
                    background-position: 5px center;
                    border:1px solid silver;
                }

    /******************************************************************************************************************/
    /*                                              COMPTE AMBASSADEUR                                                */
    /******************************************************************************************************************/
    #content.compte{

    }
        #content.compte .title{
            font-size: 40px;
            text-align: center;
            padding-bottom: 20px;
        }
        #content.compte .informations{
            background-color: #dadada;
            overflow: hidden;
            width:95%;
            margin:auto;
        }
            #content.compte .informations .part{
                float: left;
                width:50%;
            }
                #content.compte .informations .part.left{
                    width:46%;
                    padding:2%;
                    padding-right: 1.8%;
                }
                    #content.compte .informations .part.left .top{
                        overflow: hidden;
                        width:100%;
                    }
                        #content.compte .informations .part.left .top .parts{
                            float: left;
                        }
                            #content.compte .informations .part.left .parts.image{
                                width:20%
                            }
                            #content.compte .informations .part.left .top .parts.nom{
                                width:60%;
                                font-size:30px;
                            }
                            #content.compte .informations .part.left .top .parts.ville{
                                width:20%;
                                font-size:15px;
                                text-transform: uppercase;
                            }
                    #content.compte .informations .part.left .bottom{
                        background-image: url("../img/choix_membre/map.png");
                        background-repeat: no-repeat;
                        background-size: 40px auto;
                        background-position: 5px center;
                        float: left;
                        padding:15px 0;
                        padding-left:60px;
                        margin-top:15px;
                        line-height: 25px;
                    }
                        #content.compte .informations .part.left .bottom span{
                            background-color:white;
                            padding-left: 15px;
                            padding-right: 5px;
                            border-radius: 3px;
                            border-bottom-left-radius: 10px;
                            border-top-left-radius: 10px;
                            background-image: url("../img/choix_membre/icone_villes.png");
                            background-repeat: no-repeat;
                            background-position: 5px center;
                            border:1px solid silver;
                        }
                #content.compte .informations .part.right{
                    border-left:1px solid silver;
                }
                    #content.compte .informations .part.right .title-part{
                        text-align: left;
                        font-size:120%;
                        padding:10px;
                    }
                    #content.compte .informations .part.right .bottom{
                        overflow: hidden;
                    }
                        #content.compte .informations .part.right .bottom .left{
                            float: left;
                            width:40%;
                            text-align: center;
                        }
                            #content.compte .informations .part.right .bottom .left img{
                                width:80%;
                            }
                        #content.compte .informations .part.right .bottom .right{
                            float: left;
                            width:60%;
                        }
                            #content.compte .informations .part.right .bottom .right .points{
                                font-size:80px;
                                height:150px;
                            }
                                #content.compte .informations .part.right .bottom .right .points span{
                                    font-size:13px;
                                }
                            #content.compte .informations .part.right .bottom .right .bouton{
                                background-color:#002267;
                                padding:10px;
                                color:white;
                                display: block;
                                text-decoration: none;
                            }
                                #content.compte .informations .part.right .bottom .right .bouton:hover{
                                    background-color: #214690;
                                }
        #content.compte .conv-lots{
            overflow: hidden;
            width:95%;
            margin:20px auto 0;
        }
            #content.compte .conv-lots .part{
                float: left;
                width:50%;
                overflow: hidden;
            }
                #content.compte .conv-lots .part .convers{
                    float: left;
                    width:95%;
                }
                    #content.compte .conv-lots .part .convers{
                        overflow: hidden;
                    }
                        #content.compte .conv-lots .part .convers .nb-message{
                            background-color: #606467;
                            color:white;
                            padding:10px;
                        }
                        #content.compte .conv-lots .part .convers .contenu{
                            background-color:#dadada;
                            padding:10px;
                            overflow: hidden;
                        }
                            #content.compte .conv-lots .part .convers .contenu .left{
                                float:left;
                                width:48%;
                                margin-right:4%;
                            }
                                #content.compte .conv-lots .part .convers .contenu .left .etat{
                                    padding:10px;
                                    color:white;
                                    font-size:12px;
                                    text-align: center;
                                    background-color:#dc3232;
                                }
                                #content.compte .conv-lots .part .convers .contenu .left .apercu{
                                    background-color: white;
                                    color:black;
                                    padding:5px;
                                    font-style: italic;
                                    font-size:11px;
                                    text-align: center;
                                    margin-top:10px;
                                }
                                    #content.compte .conv-lots .part .convers .contenu .left .apercu .guillemet_on{
                                        height:15px;
                                        background-image: url("../img/compte/guillemet_on.png");
                                        background-repeat:no-repeat;
                                        background-size: auto 100%;
                                        background-position: 0px center;
                                    }
                                    #content.compte .conv-lots .part .convers .contenu .left .apercu .guillemet_off{
                                        height:15px;
                                        background-image: url("../img/compte/guillemet_off.png");
                                        background-repeat:no-repeat;
                                        background-size: auto 100%;
                                        background-position: right center;
                                    }
                            #content.compte .conv-lots .part .convers .contenu .right{
                                float:left;
                                width:48%;
                            }
                                #content.compte .conv-lots .part .convers .contenu .right .nom{
                                    padding-left:25%;
                                    background-image:url("../img/compte/bulles.png") ;
                                    background-repeat:no-repeat;
                                    background-size: auto 90%;
                                    background-position: 5px center;
                                    color:#002267;
                                    font-size:150%;
                                }
                                #content.compte .conv-lots .part .convers .contenu .right .ville{
                                    margin-top:7px;
                                    text-align: center;
                                }
                                #content.compte .conv-lots .part .convers .contenu .right .nb-message-total{
                                    margin-top:7px;
                                    text-align: center;
                                }
                                    #content.compte .conv-lots .part .convers .contenu .right .nb-message-total span{
                                        font-size:150%;
                                    }
                        #content.compte .conv-lots .part .convers .lien{
                            display: block;
                            background-color:#002267;
                            color:white;
                            padding:10px;
                            text-decoration: none;
                        }
                            #content.compte .conv-lots .part .convers .lien:hover{
                                background-color: #214690;
                            }



                    #content.compte .conv-lots .part .convers .bottom .parts{
                        width: 48%;
                        float:left;
                        margin-top:15px;
                    }
                        #content.compte .conv-lots .part .convers .bottom .parts.left{
                            margin-right:4%;
                        }
                        #content.compte .conv-lots .part .convers .bottom .parts .nb-message.oui{
                            font-size: 11px;
                            background-color:#28aa17;
                            text-align: center;
                        }
                        #content.compte .conv-lots .part .convers .bottom .parts .nb-message.non{
                            font-size: 11px;
                            background-color:#dc3232;
                            text-align: center;
                        }
                        #content.compte .conv-lots .part .convers .bottom .parts .right{
                            width:100%;
                        }
                        #content.compte .conv-lots .part .convers .bottom .parts .lien{
                            font-size:11px;
                        }


                #content.compte .conv-lots .part .lots{
                    float: right;
                    width:95%;
                }
                    #content.compte .conv-lots .part .lots .title{
                        padding:10px;
                        background-color:#f3c100;
                        color:black;
                        font-size:150%;
                        text-align: left;
                    }
                    #content.compte .conv-lots .part .lots .container{
                        background-color:#002267;
                        color:white;
                        padding-bottom: 20px;
                    }
                        #content.compte .conv-lots .part .lots .container .line{
                            padding-top:15px;
                            text-indent: 30px;
                        }
                            #content.compte .conv-lots .part .lots .container .line span{
                                font-size:60px;
                            }



/******************************************************************************************************************/
/*                                              COMPTE VISITEUR                                                */
/******************************************************************************************************************/
#content.compte_visiteur{

}
#content.compte_visiteur .title{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}
#content.compte_visiteur .container{
    overflow: hidden;
    width:95%;
    margin:20px auto 0;
}
#content.compte_visiteur .container .part{
    float: left;
    width:100%;
    overflow: hidden;
}
#content.compte_visiteur .container .part .convers{
    float: left;
    width:95%;
}
#content.compte_visiteur .container .part .convers{
    overflow: hidden;
}
#content.compte_visiteur .container .part .convers .nb-message{
    background-color: #606467;
    color:white;
    padding:10px;
}
#content.compte_visiteur .container .part .convers .contenu{
    background-color:#dadada;
    padding:10px;
    overflow: hidden;
}
#content.compte_visiteur .container .part .convers .contenu .left{
    float:left;
    width:48%;
    margin-right:4%;
}
#content.compte_visiteur .container .part .convers .contenu .left .etat{
    padding:10px;
    color:white;
    font-size:12px;
    text-align: center;
    background-color:#dc3232;
}
#content.compte_visiteur .container .part .convers .contenu .left .apercu{
    background-color: white;
    color:black;
    padding:5px;
    font-style: italic;
    font-size:11px;
    text-align: center;
    margin-top:10px;
}
#content.compte_visiteur .container .part .convers .contenu .left .apercu .guillemet_on{
    height:15px;
    background-image: url("../img/compte/guillemet_on.png");
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: 0px center;
}
#content.compte_visiteur .container .part .convers .contenu .left .apercu .guillemet_off{
    height:15px;
    background-image: url("../img/compte/guillemet_off.png");
    background-repeat:no-repeat;
    background-size: auto 100%;
    background-position: right center;
}
#content.compte_visiteur .container .part .convers .contenu .right{
    float:left;
    width:48%;
}
#content.compte_visiteur .container .part .convers .contenu .right .nom{
    padding-left:25%;
    background-image:url("../img/compte/bulles.png") ;
    background-repeat:no-repeat;
    background-size: auto 90%;
    background-position: 5px center;
    color:#002267;
    font-size:150%;
}
#content.compte_visiteur .container .part .convers .contenu .right .ville{
    margin-top:7px;
    text-align: center;
}
#content.compte_visiteur .container .part .convers .contenu .right .nb-message-total{
    margin-top:7px;
    text-align: center;
}
#content.compte_visiteur .container .part .convers .contenu .right .nb-message-total span{
    font-size:150%;
}
#content.compte_visiteur .container .part .convers .lien{
    display: block;
    background-color:#002267;
    color:white;
    padding:10px;
    text-decoration: none;
}
#content.compte_visiteur .container .part .convers .lien:hover{
    background-color: #214690;
}



#content.compte_visiteur .container .part .convers .bottom .parts{
    width: 48%;
    float:left;
    margin-top:15px;
}
#content.compte_visiteur .container .part .convers .bottom .parts.left{
    margin-right:4%;
}
#content.compte_visiteur .container .part .convers .bottom .parts .nb-message.oui{
    font-size: 11px;
    background-color:#28aa17;
    text-align: center;
}
#content.compte_visiteur .container .part .convers .bottom .parts .nb-message.non{
    font-size: 11px;
    background-color:#dc3232;
    text-align: center;
}
#content.compte_visiteur .container .part .convers .bottom .parts .right{
    width:100%;
}
#content.compte_visiteur .container .part .convers .bottom .parts .lien{
    font-size:11px;
}